<div class="game-image">
  <img {{bind-attr src=image alt=name}}>
</div>
<h2>
  <span>
    {{name}}
  </span>
</h2>
{{#if isFavorite}}
  <button class="toggle-fav" {{action "toggleFavorite"}}>Remove from favorites</button>
{{else}}
  <button class="toggle-fav" {{action "toggleFavorite"}}>Add to favorites</button>
{{/if}}

<button {{action "historyBack"}}>Back</button>