<div class="game-image">
  <img {{bind-attr src=image alt=name}}>
</div>
<h2>
  <span>{{name}}</span>
</h2>
<button class="button light" {{action "historyBack"}}><i class="fa fa-chevron-left"></i> Back</button>
{{#if isFavorite}}
  <button class="toggle-fav button light" {{action "toggleFavorite"}}>
    Remove from favorites <i class="fa fa-star"></i>
  </button>
{{else}}
  <button class="toggle-fav button light" {{action "toggleFavorite"}}>
    Add to favorites <i class="fa fa-star-o"></i>
  </button>
{{/if}}