{{input value=filterText placeholder="game name..." autofocus=true}}
Sort ascending {{input type="checkbox" name="isAdmin" checked=isSortAscending}}

<div class="all-games">
  {{#each game in sortedGames}}
    <div {{bind-attr class=":game-card-component game.isVisible"}}>
      {{#link-to "game" game.id}}
        <h3 style="background-image: url({{unbound game.icons.large}});">{{game.name}}</h3>
      {{/link-to}}
      <i {{bind-attr class=":favorite-icon :fa game.isFavorite:fa-star:fa-star-o"}} {{action "toggleFavorite" game}}></i>
    </div>
  {{else}}
    NO RESULTS
  {{/each}}
</div>