<h2>Portfolio</h2>

<h3>Favorite games ({{favoriteGames.length}})</h3>

<ul>
  {{#each game in favoriteGames}}
    <li>{{game.name}} <button {{action "removeFavorite" game}}>Remove favorite</button></li>
  {{/each}}
</ul>


<h3>All games ({{visibleGames.length}})</h3>
{{input value=filterText placeholder="game name..."}}

<div class="all-games">
  {{#each game in visibleGames}}
    <div class="game-card-component">
      {{#link-to "game" game.id}}
        <div>
          <h3 style="background-image: url({{unbound game.icons.large}});">{{game.name}}</h3>
        </div>
      {{/link-to}}
      <button {{bind-attr disabled="game.isFavorite"}} {{action "addToFavorites" game}}>Favorite</button>
    </div>
  {{/each}}
</div>